<div class="jumbotron jumbotron-fluid">
  <div class="container-home">
    <h1 class="display-4"><b>App-Contact</b></h1><br>
    <hr>
    <p class="lead">¿Qué le gustaría ver?</p><br>

    <div class="col-md-9 col-md-offset-9 col-xs-12 text-right">
      <button (click)="verContactos()" type="button" class="btn btn-info btn-lg mx-5" style="color:white">Contactos</button>
      <button (click)="verTareas()" type="button" class="btn btn-info btn-lg" style="color:white"> Tareas</button>
    </div>
  </div>
</div>
