<mat-card class="data">
  <mat-card-title>Datos del usuario</mat-card-title>
  <form class="form" #formtemp="ngForm" (submit)=" add( formtemp ) ">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="firstcontainer" layout="column">

          <div flex>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" minlength="3" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.name">
            </mat-form-field>
          </div>

          <div flex>
            <mat-form-field>
              <mat-label>Apellido/s</mat-label>
              <input matInput type="text" minlength="3" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.surnames">
            </mat-form-field>
          </div>

          <div flex>
            <mat-form-field>
              <mat-label>Edad</mat-label>
              <input matInput type="text" maxlenght="3" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.age">
            </mat-form-field>
          </div>

          <div flex>
            <mat-form-field>
              <mat-label>DNI</mat-label>
              <input matInput type="text" placeholder="NIF (8 números y 1 letra)" pattern="[0-9]{8}[A-Za-z]{1}"  [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.dni">
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="secondcontainer" layout="columm">
          <div flex>
            <mat-form-field>
              <mat-label>Género</mat-label>
              <mat-select placeholder="Género"  [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.gender">
                <ng-container *ngFor="let gender of genders">
                <mat-option value="{{gender.value}}">{{gender.value}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div flex>
            <mat-form-field>
              <mat-label>Color Favorito</mat-label>
              <mat-select placeholder="Color Favorito" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.favouriteColour" >
                <mat-option>Ninguno</mat-option>
                <ng-container *ngFor="let favouriteColour of favouriteColours">
                <mat-option value="{{favouriteColour.value}}">{{favouriteColour.value}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div flex>
            <mat-form-field>
                <mat-label>Cumpleaños</mat-label>
                <input matInput [matDatepicker]="picker"  placeholder="dd/mm/yyyy" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>

      <div class="button-row">
        <div><button mat-flat-button color="primary" type="submit">Añadir</button></div>
      </div>
    </mat-grid-list>
  </form>
</mat-card>

<mat-card class="card">
  <mat-card-title>Contacto</mat-card-title>
  <p>{{contact | json}}</p>
</mat-card>

<mat-card class="card">
  <mat-card-title>Lista de contactos</mat-card-title>

  <mat-list>
    <mat-list-item *ngFor="let cont of contacts; let i = index">
      <h3 class="h3">{{ cont.name }} {{ cont.surnames }}</h3>
      <p class="p">{{ cont.age}}</p>
      <p class="p">{{ cont.dni}}</p>
      <p class="p">{{ cont.birthday }}</p>
      <p class="p">{{ cont.favouriteColour}}</p>
      <p class="p">{{ cont.gender}}</p>

      <button class="button" mat-fab color="primary" (click)=" update( cont._id )">
        <mat-icon>mode edit</mat-icon>
      </button>

      <button class="button" mat-fab color="warn"    (click)=" deleteContact( cont._id )">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>

   </mat-list>


</mat-card>


