#main-title {
  text-align: center;
  color: black;
  text-shadow: grey 2px 2px;
}

legend {
  color: white;
  background-color: black;
}

fieldset {
  border: 0;
  border-radius: 2px;
  background-color: lightblue;
}

fieldset > p, .buttons > p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  border-radius: 5px;
  background-color: white;
}

#contract-fieldset > label {
  margin-right: 24px;
}

#company-select {
  margin-right: 24px;
}

input[type=date] {
  background-color: white;
  border-radius: 0;
}

.bottom-button {
  background-color: lightblue;
  max-width: 100px;
  border-radius: 5px;
}
