<div class="row align-items-center justify-content-center mb-5">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right mb-5">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand text-dark" [routerLink]="['/home']"><img src='../../../assets/imagenes/colegio.png' width="100" alt=""></a>
      <a class="navbar-brand text-dark big" [routerLink]="['/home']">Alumnos</a>
      <a class="navbar-brand" [routerLink]="['/login']"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
    </nav>
  </div>
</div>
